body{
background-color: #4169E1
}
.centered {
	text-align: center;
}
root {
	display: block;
}
.sanSerif {
	font-family: sans-serif;
}
#circle {
      width: 50px;
      height: 50px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: red;
    }
#circle2 {
	width: 50px;
        height: 50px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        background: blue;

	}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #333;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #111;
}
span{
    font-size: 16;
    color: #111;
}
h3 {
   color: #111;
}
ul {
    color: #111;
}
div.container {
    margin-left: 20px;
   // border-left: 6px solid green;
   // height: 500px;
}
.vl {
    border-left: 12px solid black;
    height: 515px;
}
hr {
    display: block;
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: -48px;
    margin-right: 0;
    border-style: solid;
    border-width: 12px;
    color: black;
    border-top-color: black;
}
img {
    // width: 150px;
    // height: 150px;
   // position: relative;
    // top: 50px;
    //left: 24%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

